@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    position: relative;
    z-index: 1;
    background: #fff;
}
h1 h2 h3 h4 h5 p {
    font-family: 'Lato', sans-serif;
}
.logo{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 32px;
    color: #394141;
    text-decoration: none;
}
.email{
    margin-right:87px;
}
.nav__info{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #394141;
}
.nav-link{
    color: #394141;
}
.first__title{
    padding-top: 128px;
    min-height: 500px;
}
.first__title h1{
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 110%;
    color: #394141;
}
.first__title p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #394141;
    padding-top: 30px;
    padding-bottom: 38px;
}
.first__title button{
    width: 335px;
    height: 65px;
    background: #394141;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.call_btn{
    font-family: 'Lato', sans-serif;
    background: #394141;
    color: #FFFFFF;
    width: 185px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.call_btn:hover{
    border: 1px solid #8B8B8B;
}
.first__img{
    padding-top: 30px;
    margin-left: 30px;
}
.first__img img{
    padding-left: 20px;
}
.arrows{
    padding-top:17px;
    padding-left:550px;
}
.no-border {
    border: none;
    border-radius: 0;
    height: 40px;
    font-size: 20px;
}
.form-control:focus{
    border:none;
    box-shadow: none;
}
.bt-border{
    border-bottom: 1px solid #8B8B8B;
}
.feedback{
    background: linear-gradient(320.2deg, #D9D9D9 46.65%, rgba(217, 217, 217, 0) 245.67%);
}
.bg-image{
    background-image: url('../img/feedback_bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.feedback-title{
    color: #394141;
    font-weight: bold;
    font-size: 35px;

}
.feedback-under-title{
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    /* or 17px */
    color: #394141;

}
@media only screen and (max-width: 600px) {
    .bg-image{
        background: linear-gradient(320.2deg, #D9D9D9 46.65%, rgba(217, 217, 217, 0) 245.67%);
    }
}
@media(max-width:1394px){
    .home__img__one{
        margin-left: 0px;
    }
    .first__img{
       min-height: 100%;
       align-items: center;
    }
    .home__img__two{
        display: none;
    }
    .home__img__three{
        display: none;
    }
    .first__img img{
        padding-top: 20px;
    }
    .arrows{
        width: 100%;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        padding-left:0px;
    }
}
@media(max-width:1190px){
    .first__img img{
        padding-top: 20px;
    }
}
@media(max-width:820px){
    .first__title{
        padding-top: 70px;
        min-height: 100%;
        text-align: center;
    }
    .first__img{
       min-height: 100%;
       align-items: center;
    }
    .home__img__two{
    }
    .home__img__three{
    }
    .first__img img{
        padding-top: 20px;
    }
    .arrows{
        width: 100%;
        display: flex;
        padding-left: 0px;
        margin: 0 auto;
    }
}
@media(max-width:414px){
    .home__img__one{
        margin-left: -20px;
    }
    .first__img{
       min-height: 100%;
       align-items: center;
    }
    .home__img__two{
        display: none;
    }
    .home__img__three{
        display: none;
    }
    .first__img img{
        padding-top: 20px;
        padding-left: 0;
    }
    .arrows{
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding-left: 0px;
    }
    .arrows img{
        padding-left: 5px;
    }
    .first__title{
        padding-top: 20px;
        min-height: 400px;
    }
    .first__container{
        text-align: center;
    }
}
@media(max-width:375px){
    .home__img__one{
        margin: 0;
        padding: 0;
        margin-left: -20px;
    }
    .first__img{
       min-height: 100%;
       align-items: center;
    }
    .home__img__two{
        display: none;
    }
    .home__img__three{
        display: none;
    }
    .first__img img{
        padding-top: 0px;
        padding-left: 0;
    }
    .arrows{
        width: 100%;
        display: flex;
        margin-left: -15px;
    }
    .arrows img{
        padding-left: 5px;
    }
    .first__title{
        padding-top: 20px;
        min-height: 450px;
    }
    .first__container{
        text-align: center;
    }
}

/* section about__us */
.about__us__content{
    padding-left: 65px;
    padding-top: 76px;
    padding-bottom: 74px;
}
.about__us__title{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;  
    color: #394141;
    padding-bottom: 17px;
    padding-top: 10px;
}
.about__us__subtitlse{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #394141;
    width: 514px;
}
.card-body{
    padding: 0;
    margin: 0;

}
.card{
    border: none;
    padding: 0;
    margin: 0;
}
.achievements h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #394141;
    padding-top: 13px;
}
.achievements p{
    width: 130px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #394141;
    padding-top: 14px;
}
@media(max-width:1394px){
.about__us{
    min-height: 100%;
}
.about__us__content{
    padding-left: 0px;
    padding-top: 76px;
    align-items: center;
    text-align: center;
}
.about__us__title{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;  
    color: #394141;
    padding-bottom: 17px;
    padding-top: 10px;
}
.about__us__subtitlse{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #394141;
    width: 100%;
}
.card-body{
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
}
.card{
    border: none;
    padding: 0;
    margin: 0;
}
.achievements h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #394141;
    padding-top: 13px;
}
.achievements p{
    width: 130px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #394141;
    padding-top: 14px;
    margin: 0 auto;
}
}
/* section 3 */
.advantages_cards{
    padding-top: 51px;
    }
.advantages_cards_two{
padding-top: 44px;
}
.advantages_card{
   display: flex; 
}
.advantages_titlse{
    width: 215px;
}
.advantages_titlse h3{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #394141;
}
.advantages_titlse p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #394141;
}
.advantages_img{
    padding-right: 14px;
}
@media(max-width:1394px){
    .advantages_cards{
        text-align: center;
        padding-top: 51px;
        }
    .advantages_cards_two{
    text-align: center;
    padding-top: 0px;
    }
    .advantages_card{
       display:inline; 
    }
    .advantages_titlse{
        padding-top: 30px;
        width: 215px;
        margin: 0 auto;
    }
    .advantages_titlse h3{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        color: #394141;
    }
    .advantages_titlse p{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #394141;
    }
    .advantages_img{
        padding-right: 14px;
    }
}
/* section 4 */

.types_house_subtitle{
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    color: #394141;
    padding-top: 125px;
    padding-bottom: 50px;
}
.card__house{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mini_card{
    width: 250px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0px 10.638px 8.865px -5.319px rgba(154, 156, 165, 0.15);
    border-radius: 5px;
    margin-left: 57.5px;
    margin-top: -55px;
    position: relative;
    z-index: 1;
}
.mini_card h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;   
    color: #394141;
    margin: 0;
}
.mini_card_items{
    padding: 14px 16px 22px 15px;
}
.kms{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.one{
    padding-top: 5px;
}
.kms span{
    padding-left: 10px;
}
.look{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 10px;
}
.look a{
    padding-right: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    text-decoration-line: underline;

color: #394141;
}
.arrs{
    width: 13.5px;
    height: 9px;
}
